@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: "Poppins", system-ui;
}

header{
    background-color: #4E0D3A;
    padding: 30px 0;
}

header h2{
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.box__container{
    padding: 20px 5%;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;

}

.box{
    height: 100px;
    width: 150px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 0 5px;
    text-align: center;
}

nav{
    background-color: #356859;
    padding: 15px;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;

    gap: 15px;
}

ul li a{
    text-decoration: none;
    margin: 0 5px;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
    transition: .3s;
}
ul li a:hover{
    background-color: #37966F;
}

ul li a.active{
    background-color: #37966F;
}


.comb__box{
    display: flex;
    width: 250px;
    height: 100px;
    overflow: hidden;
    border-radius: 10px;
}
.comb__box .pair__box{
    width: 50%;
    text-align: center;
    display: grid;
    place-items: center;
    color: #fff;
    padding: 0 5px;
}


@media screen and (max-width:450px) {
    nav ul{
        flex-direction: column;
    }
    nav ul li a{
        font-size: 12px;
    }
}